<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp.properties"/>

    <bean id="myLibrary"
          class="org.chdtu.Book">
    </bean>

    <bean id="myPerson"
          class="org.chdtu.Person">
            <property name="library" ref="myLibrary"/>
                <constructor-arg ref="myLibrary"/>
        <property name="surname" value="Mogiley"/>
        <property name="age" value="22"/>
    </bean>
</beans>